body {
    /*sets font family, no margin to fit correctly*/
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    background-color: #191919;
    word-spacing: -1px;
}

#mainSite {
    /* creates side bars*/
    max-width: 1100px;
    margin: 0 auto;
    background-color: #202135FF;
    color: #DEDEDE;
}

/* header settings*/
header {

    background-color: #0d0d0d;

    h1 {
        text-align: center;
        font-size: 3.2em;
        padding: 3%;
        margin: 0;
    }
}

nav {


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5em;
    }

    li a:hover {
        background-color: #191919;
    }

    
}

main {

    #contentHeader {
        position: relative;
        text-align: center;
    }

    h2 {
        padding: 2%;
        margin: 0;
        display: inline-block;
        font-size: 280%;

    }

    span {
        position: absolute;
        right: 5%;
        top: 48%;
        font-size: 125%;
    }

    .flex {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

        div {
            padding: 2%;
            margin-bottom: 6%;
            width: 40%;
            background-color: #0d0d0d;
            line-height: 120%;
            position: relative;
            border-radius: 2%;



            img {
                width: 53%;
                float: left;
                margin: 1%;
                margin-right: 5%;
                border-radius: 3%;
            }

            .likebutton {
                width: 13%;
                margin: 0% 0% -1% 2%;
            }

            .likediv {
                position: absolute;
                bottom: 8%;
                right: 2%;
                margin: 0;
                padding: 0;
                font-size: 140%;
                line-height: 100%;
                color: green;
                letter-spacing: 1px;
            }

            div[id^=likeAmount]{
              float: right;
              margin: -2% 30% 1% 0%;
              font-size: 120%;
              background-color: green;
              color: white;
              font-weight: bold;
              border-radius: 50%;
              text-align: center;
              padding: 2% 3% 2% 3%;
              width: 20%;

            }

            div {
                width: 39%;
                padding: 1%;
                margin-top: -1%;
                font-size: 110%;
                margin-bottom: 0;
                float: right;

                h3 {
                    margin: 1%;
                }


                img {
                    width: 7%;
                    float: none;
                }

            }
        }
    }
}