body {
    /*sets font family, no margin to fit correctly*/
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    background-color: #191919;
    word-spacing: -1px;
}

#mainSite {
    /* creates side bars*/
    max-width: 1000px;
    margin: 0 auto;
    background-color: #202135FF;
    color: #DEDEDE;
}
 /* header settings*/
header {

   background-color: #0d0d0d;
    h1 {
        text-align: center;
        font-size: 3.2em;
        padding: 3%;
        margin: 0;
    }
}

nav {


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 1.5em;
    }

    li a:hover {
        background-color: #191919;
    }
}

main {

  #contentHeader{
    position: relative;
    text-align: center;
  }
  h2 {
    padding: 1%;
    margin: 0;
    display: inline-block;
    font-size: 200%;

  }
  span {
    position: absolute;
    right: 5%;
    top: 30%;
    font-size: 125%;
  }

  .flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    div {
      padding: 2%;
      margin-bottom: 6%;
      width: 40%;
      background-color: #0d0d0d;


      img {
        width: 50%;
        float: left;
        margin: 1%;
        margin-right: 5%;
        
      }

      div {
        width: 100%;
        padding: 1%;
        margin-top: -1%;
        font-size: 110%;

        h3{
          margin:1%;
        }

      }
    }
  }
}